@charset "utf-8";
/*-------------------
全体設定
--------------------*/
html {
    position: relative;
}
body {
    font-family: "Sawarabi Gothic";
}

.container {
    width: 100%;
    background: #fff;
}

/*-------------------
レイアウト設定
--------------------*/
.ly_header {
    width: 100vw;   
}
.ly_cont_main {
    width: 100%;
}
.ly_cont_section {
    width: 100%;
    background: #fff;
    padding: 64px 24px;
    margin: 0 auto;
}
.ly_cont_section.ly_cont_section__bgYellow {
    background: #f6f7e5;
}
.ly_cont_section.ly_cont_section__full {
    padding: 0;
}

.ly_footer {
    width: 100vw;
}
/*-------------------
見出し設定
--------------------*/
/*h1*/
.lv1_heading {
    font-size: 1.313rem;
    font-weight: 900;
    font-family: 'Sawarabi Gothic', sans-serif;
    color: #fff;
}
/*h2*/
.lv2_heading {
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
}

/*-------------------
ヘッダー
--------------------*/
.bl_header {
    padding: 16px 24px;
    background: rgba(0,0,0,0.7);
        -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    position: absolute;
    top: 0;
    left: 0;
    z-index:999;
}
.bl_header_inner {
    width: 980px;
    margin: 0 auto;
        display:-webkit-box;
        display:-ms-flexbox;        
    display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
    flex-direction: row;
        -webkit-box-align: center;
	   -ms-flex-align: center;
    align-items: center;
       -webkit-box-pack: justify;
	   -ms-flex-pack: justify;
    justify-content: space-between;
}
/*スクロール時の動的な設定*/
.bl_header.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
/*gnavi*/
.bl_gnavi_inner {/*ul*/
        display:-webkit-box;
        display:-ms-flexbox;  
    display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;   
    flex-direction: row;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
    justify-content: flex-start;
    font-family: 'Dosis', sans-serif;
}

.bl_gnavi_inner > li > a{/*aタグ*/
    display: block;
    text-decoration: none;
    margin-left: 8px;
    padding: 8px 16px;
    font-size: 1.125em;
    color: #fff;
}

.bl_gnavi_inner > li > a:hover {
    border-bottom: solid #333 1px;
}

/*------------------------
メイン画像
--------------------------*/
.bl_mv_inner {
    height: 560px;
    overflow: hidden;
    position: relative;
}
.bl_mv_slideBody > li {
    display: block;
    width: 100%;
    height: 100%;
}
.bl_mv_slideBody > li > img{
    object-fit: cover;
}
/*currentクラス以外は非表示にしておく*/
.bl_mv_slideBody > li:not(.current) {
    display: none;
}
/*リード文*/
.bl_mv_inner .bl_lead_body {
    position: absolute;
    top: 40%;
    left: 15%;
    z-index: 2;
    background: rgba(255,255,255,0.5);
}
.bl_mv_inner .bl_lead_text {
    font-size: 2em;
    font-weight: 900;
    color: #333;
    line-height: 1.4;
}
.bl_mv_inner .bl_lead_subText {
    font-size: 1.125em;
    color: #333;
    line-height: 1.2;
    margin: 0.7em 0;
}

/*-----------------------
プロフィール要素部分
------------------------*/
.el_subLead_text {
    font-size: 1em;
    text-align: center;
    margin-top: 1.8em;
    line-height: 1.6;
}
.bl_profile_body {/*ul*/
    width: 70%;
    margin: 32px auto;
        display:-webkit-box;
        display:-ms-flexbox;
    display: flex;
        -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;        
    justify-content: space-between;
}
.bl_profile_list img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;  
}
.bl_profile_text {
    font-size: 0.875em;
    text-align: center;
    margin-top: 2em;
}

/*-----------------------
料金表セクション
------------------------*/
.ly_priceTable {
    width: 80%;
    margin: 48px auto 0 auto;
}
.bl_priceTable_body {
    width: 100%;
    display: table;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 4px 2px;
    font-size: 1.125em;
}
.bl_priceTable_body .thead tr th {
    background: #ccc;
    padding: 8px 0;
    text-align: center;
}
.bl_priceTable_body .thead tr th:first-child {
    background: transparent;
}
.bl_priceTable_body .tbody {
    text-align: center;
}
.bl_priceTable_body .tbody th {
    background: #f3d56b;
    padding: 12px 0;
}
.bl_priceTable_body .smallText {
    font-size: 1.2rem;
}

/*-----------------------
画像とテキストのメディア(全体表示)
------------------------*/
.bl_fullScreen {
    background: url(../img/forest.jpg);
    background-size: cover;
    height: 400px;
    background-repeat: no-repeat;
    position: relative;
}
/*positionをいじるmedia*/
.bl_fullScreen-inner {
    position: absolute;
    top: 20%;
    left: 10%;
}
.bl_fullScreen_title {
    color: #fff;
    font-size: 2em;
    font-weight: 900;
    text-align: left;
    position: relative;
}
/*リード文*/
.bl_lead_body {
    margin-top: 4em;
}
.bl_lead_title {
    color: #fff;
    font-size: 1.313em;
}
.bl_lead_textWrapper {
    margin-top: 16px;
    background: rgba(255,255,255,0.8);
}
.bl_lead_text {
    color: #333;
    font-size: 0.875em;
    line-height: 1.8;
}

/*反対向き*/
.bl_fullScreen.bl_fullScreen__reverse {
    background: url(../img/pan-meat.JPG);  
    background-size: cover;
    background-repeat: no-repeat;
}
.bl_fullScreen__reverse .bl_fullScreen-inner {
    left: auto;
    right: 10%;
}

.bl_fullScreen__reverse .bl_media_textWrapper {
    text-align: right;
}
.bl_fullScreen__reverse .bl_media_title {
    text-align: right;
}

/*-----------------------
TOPに戻るボタン
------------------------*/
.el_btn_toTop {
    position: fixed;
    right: 5%;
    bottom: 30px;
    background: #111;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 12px 0 24px 0;
    text-align: center;
    line-height:  25px;
}
.el_btn_toTop:focus,
.el_btn_toTop:hover {
    opacity: 0.5;
}

.el_btn_toTop a{
    text-decoration: none;
}
.el_btn_toTop .fa-arrow-up {
    color: #fff;
    font-size: 1em;
    font-weight: 900;
    line-height: 25px;
}



/*------------------------
フッター
--------------------------*/
.bl_footer {
    background: #111;
    text-align: center;
    color: #fff;
    padding: 24px 0;
}










/**/
